
</div>
</div>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
</div>

</div>

<!-- Jquery JS-->
<script src="/admin_files/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="/admin_files/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="/admin_files/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="/admin_files/vendor/slick/slick.min.js">
</script>
<script src="/admin_files/vendor/wow/wow.min.js"></script>
<script src="/admin_files/vendor/animsition/animsition.min.js"></script>
<script src="/admin_files/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="/admin_files/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="/admin_files/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="/admin_files/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/admin_files/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/admin_files/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="/admin_files/vendor/select2/select2.min.js">
</script>

<!-- Main JS-->
<script src="/admin_files/js/main.js"></script>

<script>
    CKEDITOR.replace('editor', {
  skin: 'moono',
  enterMode: CKEDITOR.ENTER_BR,
  shiftEnterMode:CKEDITOR.ENTER_P,
  toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
             { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
             { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
             { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
             { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
             { name: 'links', items: [ 'Link', 'Unlink' ] },
             { name: 'insert', items: [ 'Image'] },
             { name: 'spell', items: [ 'jQuerySpellChecker' ] },
             { name: 'table', items: [ 'Table' ] }
             ],
});

</script>

</body>

</html>
<!-- end document-->
