<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="/admin_files/css/font-face.css" rel="stylesheet" media="all">
    <link href="/admin_files/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/admin_files/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/admin_files/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/admin_files/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/admin_files/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/admin_files/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/admin_files/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/admin_files/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/admin_files/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/admin_files/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/admin_files/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
    <!-- Main CSS-->
    <link href="/admin_files/css/theme.css" rel="stylesheet" media="all">

</head>

<body>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="/admin">
                    <img src="/admin_files/images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="/admin">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                           
                        </li>

                        <li class="has-sub border-top">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-box"></i>Orders
                            <i class="fa fa-angle-down d-inline-block mt-2 float-right"></i>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/admin/orders/pending">Prending Orders</a>
                                </li>
                                <li>
                                    <a href="/admin/orders/dispatch">Dispatch Orders</a>
                                </li>
                                <li>
                                    <a href="/admin/orders/delivered">Delivered Orders</a>
                                </li>
                                <li>
                                    <a href="/admin/orders/cancelled">Cancelled Orders</a>
                                </li>
                                <li>
                                    <a href="/admin/orders/reject">Reject Orders</a>
                                </li>
                                <li>
                                    <a href="/admin/orders/return">return Orders</a>
                                </li>
                            </ul>
                        </li>

                        <li class="border-top">
                            <a href="/admin/about_company">
                                <i class="fas fa-industry"></i>About Company</a>
                        </li>

                        <li class="border-top">
                            <a href="/admin/slider">
                                <i class="fas fa-copy"></i>slider</a>
                        </li>

                        <li class="border-top">
                            <a href="/admin/category">
                                <i class="fas fa-industry"></i>Category</a>
                        </li>

                        <li class="has-sub border-top">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-box"></i>Product
                            <i class="fa fa-angle-down d-inline-block mt-2 float-right"></i>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/admin/add_product">Add Product</a>
                                </li>
                                <li>
                                    <a href="/admin/product_list">Product List</a>
                                </li>
                            </ul>
                        </li>

                    
                        
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                
                            </form>
                            <div class="header-button">
                                
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="/admin_files/images/icon/avatar-01.jpg" alt="" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="/admin/profile">Profile</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="/admin_files/images/icon/avatar-01.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">john doe</a>
                                                    </h5>
                                                    <span class="email">johndoe@example.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    