<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FashionFit - Clothing Store eCommerce Store HTML Website Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/icomoon/icomoon.css">
    <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
  </head>
  <body>

    <div class="preloader-wrapper">
      <div class="preloader">
      </div>
    </div>

    <div class="search-popup">
      <div class="search-popup-container">

        <form role="search" method="get" class="search-form" action="">
          <input type="search" id="search-form" class="search-field" placeholder="Type and press enter" value="" name="s" />
          <button type="submit" class="search-submit"><a href="#"><i class="icon icon-search"></i></a></button>
        </form>

        <h5 class="cat-list-title">Browse Categories</h5>
        
        <ul class="cat-list">
          <li class="cat-list-item">
            <a href="/shop" title="Men Jackets">Men Jackets</a>
          </li>
          <li class="cat-list-item">
            <a href="/shop" title="Fashion">Fashion</a>
          </li>
          <li class="cat-list-item">
            <a href="/shop" title="Casual Wears">Casual Wears</a>
          </li>
          <li class="cat-list-item">
            <a href="/shop" title="Women">Women</a>
          </li>
          <li class="cat-list-item">
            <a href="/shop" title="Trending">Trending</a>
          </li>
          <li class="cat-list-item">
            <a href="/shop" title="Hoodie">Hoodie</a>
          </li>
          <li class="cat-list-item">
            <a href="/shop" title="Kids">Kids</a>
          </li>
        </ul>
      </div>
    </div>
    <header id="header">
      <div id="header-wrap">
        <nav class="secondary-nav border-bottom">
          <div class="container">
            <div class="row d-flex align-items-center">
              <div class="col-md-4 header-contact">
                <p>Let's talk! <strong>+91 <%- company_info.company_mobile %> </strong>
                </p>
              </div>
              <div class="col-md-4 shipping-purchase text-center">
              </div>
              <div class="col-md-4 col-sm-12 user-items">
                <ul class="d-flex justify-content-end list-unstyled">
                  
                  <% if(!is_login) { %>
                  <li>
                    <a href="/login">
                      <i class="icon icon-user"></i> Login
                    </a>
                  </li>

                  <% } else { %>
                  
                  <li>
                    <a href="/profile">
                      <i class="icon icon-user"></i> profile
                    </a>
                  </li>
                  &nbsp;
                  &nbsp;
                  <li>
                    <a href="/cart">
                      <i class="icon icon-shopping-cart"></i> Cart
                    </a>
                  </li>
                  &nbsp;
                  &nbsp;
                  <li>
                    <a href="/logout">
                      <i class="icon icon-user"></i> Logout
                    </a>
                  </li>

                  <% } %>

                </ul>
              </div>
            </div>
          </div>
        </nav>
        <nav class="primary-nav padding-small">
          <div class="container">
            <div class="row d-flex align-items-center">
              <div class="col-lg-2 col-md-2">
                <div class="main-logo">
                  <a href="/">
                    <!-- <img src="/images/main-logo.png" alt="logo"> -->
                    <div style="margin-top: -30px; margin-bottom: -40px;">
                      <h2 style="font-weight: 1000; ">FashionFit</h2>
                      <p style="margin-top: -35px; font-size: 15px;color: grey;">Casual Wear Store</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-10 col-md-10">
                <div class="navbar">

                  <div id="main-nav" class="stellarnav d-flex justify-content-end right">
                    <ul class="menu-list">

                      <li class="menu-item has-sub">
                        <a href="/" class="item-anchor active d-flex align-item-center" data-effect="Home">Home</a>
                      </li>

                      <li><a href="/about" class="item-anchor" data-effect="About">About</a></li>

                      <li class="menu-item has-sub">
                        <a href="/shop" class="item-anchor d-flex align-item-center" data-effect="Shop">Shop</a>
                      </li>

                      <li class="menu-item has-sub">
                        <a href="/blog" class="item-anchor d-flex align-item-center" data-effect="Blog">Blog</a>
                      </li>

                      <li><a href="/contact" class="item-anchor" data-effect="Contact">Contact</a></li>

                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>